/* .container {
  padding: 0 2rem;
} */

.header {
  min-height: 20vh;
  /* padding: 0 2rem; */
  background: #F7F6E7;
  border-bottom: 1px solid #F2A154 !important;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.titleText {
  color: #F2A154;
}

.main {
  min-height: 65vh;
  padding: 2rem;
  /* flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  background: #E7E6E1;
  color: #314E52 !important;
}

.updateText{
  display: flex;
  align-items: right !important;
  justify-content: right !important;
  text-align: end !important;
  font-size: 14px;
  color: #F2A154;
  font-weight: bold;
}

.footer {
  /* padding: 0 2rem; */
  min-height: 15vh;
  display: flex;
  flex: 1;
  /* padding: 2rem 0; */
  border-top: 1px solid #F2A154 !important;
  justify-content: center;
  align-items: center;
  background: #F7F6E7;
}

.footer .link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  color: #F2A154 !important;
  color: inherit;
  text-decoration: none;
}




.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
